<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.crewmeister.listeners.TestListeners"/>
    </listeners>
    <test name="crewmeisterassignment" parallel="methods" thread-count="2">
        <classes>
            <class name="com.crewmeister.tests.TimeOverViewPageTests">
                <methods>
                    <include name="ValidateOwnerOfTheCrewIsDisplayed"> </include>
                    <include name="validateEmployeeIsAssignedToTeam"> </include>
                </methods>
            </class>
        </classes>
    </test>
</suite>